$mobile-xs: "screen and (max-width: 389px)"; // Pour tous les petits écrans
$mobile: "screen and (min-width: 390px) and (max-width: 440px)"; // Pour tous les écrans qui ne sont pas des tablettes / ordinateurs
$tablet: "screen and (min-width: 441px) and (max-width: 1023px)"; // Pour tous les écrans qui sont des tablettes
$desktop: "screen and (min-width: 1024px)"; // Pour tous les écrans qui ne sont pas des mobiles / tablettes
