@use "./settings-variables" as *;

@function rem($px) {
	@return calc(1rem * $px / 16);
}

@mixin font($font) {
	@if ($font == "big") {
		& {
			font-size: rem(80);
			line-height: rem(86);
			font-weight: 600;

			@media not #{$desktop} {
				font-size: rem(40);
				line-height: rem(45);
			}
		}
	} @else if ($font == "h1") {
		& {
			font-size: rem(45);
			line-height: rem(48);
			font-weight: 600;

			@media not #{$desktop} {
				font-size: rem(30);
				line-height: normal;
			}
		}
	} @else if ($font == "h2") {
		& {
			font-size: rem(35);
			line-height: rem(39);
			font-weight: 600;

			@media not #{$desktop} {
				font-size: rem(25);
				line-height: normal;
			}
		}
	} @else if ($font == "h3") {
		& {
			font-size: rem(20);
			line-height: rem(21);
			font-weight: 600;
		}
	} @else if ($font == "p-main") {
		& {
			font-size: rem(16);
			line-height: rem(21);
			font-weight: 500;
		}
	} @else if ($font == "p") {
		& {
			font-size: rem(14);
			line-height: normal;
			font-weight: 500;
		}
	} @else if ($font == "cta") {
		& {
			font-size: rem(16);
			line-height: normal;
			font-weight: 600;
		}
	} @else if ($font == "small") {
		& {
			font-size: rem(11);
			line-height: normal;
			font-weight: 500;
		}
	}
}

@mixin prop($property, $px, $important: null) {
	& {
		#{$property}: rem($px) $important;
	}
}

@mixin padding($px: 1, $important: null) {
	@include prop("padding", $px, $important);
}

@mixin gap($px: 1, $important: null) {
	@include prop("gap", $px, $important);
}

@mixin inset($px: 0) {
	top: rem($px);
	bottom: rem($px);
	left: rem($px);
	right: rem($px);

	@supports (inset: $px) {
		inset: rem($px);
	}
}

@mixin wrapper($wrapper: 1440px, $px: 24) {
	& {
		margin: 0 auto;
		max-width: $wrapper;
		width: 100%;
		@include prop("padding-inline", $px);
	}
}
