@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree-VariableFont_wght.ttf") format("TrueType");
	font-display: swap;
	font-weight: 300 900;
}

p,
.p,
input {
	@include font("p-main");
}

.p-secondary {
	@include font("p");
}

.big {
	@include font("big");
}

h1,
.h1 {
	@include font("h1");
}

h2,
.h2 {
	@include font("h2");
}

h3,
.h3 {
	@include font("h3");
}

small {
	@include font("small");
}

select {
	color: currentColor; // Reset blue color from -apple-system-blue ios 15
}

:root {
	--black: #000000;
	--dark-blue: #0c1b33;
	--green: #4b9765;
	--light-green: #aad5b8;
	--extra-light-green: #ddeee2;
	--beige: #f1f0e9;
	--white: #ffffff;
	--light-grey: #eaeaea;
	--medium-grey: #b6b6b6;
	--dark-grey: #959595;
	--fake-black: #4f596a;

	--text: var(--dark-blue);
	--background: var(--white);
	--accent: var(--green);

	--blur: blur(60px);
	--box-shadow: 0 4px 20px 0 rgba(12, 27, 51, 0.08);
}

html {
	font-family: "Figtree", Arial, Helvetica, sans-serif;
	accent-color: var(--dark-blue);
}

body {
	background-color: var(--background);
	color: var(--text);
}

input.reset-ua {
	border: unset;
	appearance: none;
}

[hide="desktop"] {
	@media #{$desktop} {
		display: none !important;
	}
}
[hide="mobile"] {
	@media not #{$desktop} {
		display: none !important;
	}
}

a.reset-ua {
	color: var(--text);
	text-decoration: none;
}

a.button {
	transition: box-shadow ease-out 0.2s;

	width: fit-content;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: rem(10);

	padding-inline: rem(25);
	height: rem(54);

	border-radius: 50px;

	@include font("cta");

	&:hover {
		&[hover="green"] {
			background-color: var(--green);
			box-shadow: 0 4px 0 -1px var(--dark-blue);
		}
		&[hover="border-green"] {
			box-shadow: 0 4px 0 -1px var(--green);
		}

		&[hover="transparent"] {
			background-color: transparent;
			color: var(--beige);
			box-shadow: 0 0 0 2px var(--beige);
		}
		&[hover="transparent-dark-blue"] {
			background-color: transparent;
			color: var(--dark-blue);
			box-shadow: 0 0 0 2px var(--dark-blue);
		}
		&[hover="dark-blue"] {
			background-color: var(--dark-blue);
			color: var(--white);
			border-color: var(--dark-blue);
			box-shadow: unset;
		}
		&[hover="dark-blue-border"] {
			background-color: var(--dark-blue);
			color: var(--white);
			box-shadow: 0 4px 0 -1px var(--green);
		}
	}
}

section.container {
	padding-inline: rem(118);
	padding-block: rem(94);

	border-radius: 10px;

	@media not #{$desktop} {
		padding: rem(20);
		padding-bottom: rem(80);
	}
}

main.page {
	display: flex;
	flex-direction: column;
	gap: rem(24);
}

[animation="fade-in-translate-in-from-bottom"] {
	@for $i from 1 through 10 {
		&[position="#{$i}"] {
			--position: #{$i};
		}
	}

	transition:
		opacity linear 0.4s calc(0.1s * var(--position)),
		transform ease-out 0.4s calc(0.1s * var(--position));

	&[viewport="false"] {
		opacity: 0;
		transform: translateY(50px);
	}
	&[viewport="true"] {
		opacity: 1;
		transform: translateY(0px);
	}
}

[animation="fade-in-translate-in-from-left"] {
	transition:
		opacity linear 0.4s 0.4s,
		transform ease-out 0.4s 0.4s;

	&[viewport="false"] {
		opacity: 0;
		transform: translateX(-50px);
	}
	&[viewport="true"] {
		opacity: 1;
		transform: translateX(0px);
	}
}
[animation="fade-in-translate-in-from-right"] {
	transition:
		opacity linear 0.4s 0.3s,
		transform ease-out 0.4s 0.3s;

	&[viewport="false"] {
		opacity: 0;
		transform: translateX(50px);
	}
	&[viewport="true"] {
		opacity: 1;
		transform: translateX(0px);
	}
}
