@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree-VariableFont_wght.ttf") format("TrueType");
	font-display: swap;
	font-weight: 300 900;
}

p,
.p {
	@include font("fs-16-500");
}

h2,
.h2 {
	@include font("fs-45-600");
}

h3,
.h3 {
	@include font("fs-20-600");
}

select {
	color: currentColor; // Reset blue color from -apple-system-blue ios 15
}

:root {
	--black: #000000;
	--dark-blue: #0c1b33;
	--green: #4b9765;
	--light-green: #aad5b8;
	--extra-light-green: #ddeee2;
	--beige: #f1f0e9;
	--white: #ffffff;
	--light-grey: #eaeaea;
	--medium-grey: #b6b6b6;
	--dark-grey: #959595;

	--text: var(--dark-blue);
	--background: var(--white);
	--accent: var(--green);

	--blur: blur(60px);
}

html {
	font-family: "Figtree", Arial, Helvetica, sans-serif;
	accent-color: var(--accent);
}

body {
	background-color: var(--background);
	color: var(--text);
}

input {
	background-color: var(--background);
	color: var(--text);
	border-color: currentColor;
}
